# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Arquivos de IDE e sistema
.idea/
.vscode/
*.swp
*.swo
*.swn

# Logs e arquivos de teste
logs/
*.log
tests/
test_*.py
*.coverage

# Outros
.env
.env.example
README.md
