Flask==2.3.2
SQLAlchemy==2.0.19
psycopg2-binary==2.9.6
requests==2.31.0
python-dotenv==1.0.0
bcrypt==4.0.1
Flask-Login==0.6.2
Flask-WTF==1.1.1
email-validator==2.1.0
bleach==6.0.0
Markdown==3.4.4
WTForms-SQLAlchemy==0.3
Flask-Migrate==4.0.3