<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Tarô Online</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/leitura">Leitura de Tarô</a>
            <a href="/about">Sobre</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>

    <main>
        <section class="about-section">
            <h1>Sobre o Tarô Online</h1>
            <p>
                Este site foi criado com o objetivo de oferecer leituras de tarô acessíveis e esclarecedoras. Acreditamos que o tarô pode ser uma ferramenta poderosa para o autoconhecimento e desenvolvimento pessoal, e nosso objetivo é proporcionar uma experiência  segura e respeitosa para todos os nossos usuários.
            </p>

            <h2>Nossa Abordagem</h2>
            <p>
                Nossas leituras são realizadas por tarólogos experientes e dedicados, que se comprometem em fornecer interpretações honestas e éticas.  Não fazemos previsões definitivas, mas sim oferecemos insights e perspectivas que podem auxiliar na tomada de decisões e no entendimento dos desafios e oportunidades da vida. 
            </p>

            <h2>Ética e Credibilidade</h2>
            <p>
                Priorizamos a ética e a credibilidade em todas as nossas leituras. Acreditamos que o tarô deve ser usado como uma ferramenta de autodescoberta e não para explorar vulnerabilidades.  Nossas leituras não substituem aconselhamento profissional em áreas como saúde, finanças ou direito.
            </p>

            <h2>Como Funciona</h2>
            <p>
                Oferecemos diferentes tipos de leituras de tarô, desde tiragens rápidas para questões específicas até leituras mais completas para uma análise aprofundada de diferentes aspectos da vida.  Você pode escolher a leitura que melhor se adapta às suas necessidades e orçamento.
            </p>

            <p>
                Todas as leituras são realizadas de forma confidencial e segura. Seus dados pessoais são protegidos e nunca serão compartilhados com terceiros.
            </p>
        </section>
    </main>


    <footer>
        <p>&copy; 2023 Tarô Online - Todos os direitos reservados.</p>
    </footer>
</body>
</html>