# Node.js
node_modules/
package-lock.json

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Webpack
dist/
build/

# Browser cache
.cache/
coverage/

# Environment files
.env
.env.local
.env.dev
.env.test

# Editor directories
.idea/
.vscode/
.scoop/

# Operating system files
.DS_Store
Thumbs.db

# Other
*.swp
*.bak
*.tmp