Flask==2.3.2
Flask-SQLAlchemy==2.5.1
Flask-Migrate==4.4.1
Flask-WTF==1.0.1
Flask-Login==0.5.0
Flask-Session==0.0.20
python-dotenv==0.19.2
SQLAlchemy==2.0.15
psycopg2-binary==2.9.5
WTForms==3.0.1
passlib==19.2.0
python-jose==3.3.0
argon2-cffi==21.2.0
stripe==2.41.0
Pillow==9.1.1
sendgrid==6.5.0
python-multipart==0.0.9
requests==2.28.1
openpyxl==3.1.0